<%- include("partials/header") %>

<div class="container">
    
    <h2>Professor/Lab Research Opportunities </h2>

    <p>The following opportunities are for the Fall 2020 semester. If you have any questions concerning a research opportunity, contact the professor leading the project. </p>

    <% opportunities.forEach(function(opportunity){ %>
        <div class="title"><%=opportunity.title%></div>

        <div class= "item">
            <div class=content>
                <div class= "description">
                    <p><%- opportunity.description.substring(0,250)%>....</p>
                </div>

                <div class= "extra">
                    <a class="ui basic blue button" href="/opportunities/<%= opportunity._id %>">
                        Read More <i class="right chevron icon"></i>
                    </a>
                </div>

            </div>
        </div>

        <hr>
        <% }); %>

    <div class="title" section id="resources">Additional Resources</div>

    <% resources.forEach(function(resource){ %>
        <div class="resource">
            <a href="<%= resource.link %>"><%= resource.title %></a>
        </div>
    <% }); %>
</div>


<%- include("partials/footer") %>